# --- Terraform ---
**/.terraform/*
**/.terraform.lock.hcl

# State
*.tfstate
*.tfstate.*
terraform.tfstate.backup

# Crash logs
crash.log

# Sensitive vars
*.tfvars
*.tfvars.json
terraform.tfvars

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plans
*.tfplan
plan.out

# Logs
*.log

# Archives
*.zip
*.tar.gz

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# OS junk
ehthumbs.db
desktop.ini
